* {
  --primary-color: #51ab59;
  --text-color: #404040;
  --thumbnail-color: #b4c7b4;
}

body {
  margin: 0;
  color: var(--text-color);
  padding: 0;

  & a {
    color: var(--text-color);
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

ul {
  padding: 0;
}

img {
  display: block;
  width: 100%;
}

/* Utilities */

.primary-color {
  color: var(--primary-color);
}

.container {
  max-width: 1024px;
  margin-inline: auto;

  @media only screen and (max-width: 600px) {
    & {
      padding: 0 1rem;
    }
  }
}

.cta {
  border-radius: 1rem;
  padding: 1rem 2.5rem;
  display: inline-block;

  &.primary {
    background: var(--primary-color);
    color: white;
  }
  &.secondary {
    border: 2px solid rgba(var(--text-color), 0.75);
  }
  &.featured {
    box-shadow: 2px 1px 25px #40404046;
  }
}

/* Navigation */

.navbar {
  top: 0;
  position: sticky;
  background-color: white;
  box-shadow: 2px 1px 25px #40404046;

  & .container {
    display: flex;
    align-items: center;

    & > a:first-child {
      color: var(--primary-color);
      font-size: large;
      font-weight: bolder;
    }
  }

  & nav ul {
    display: flex;
    list-style-type: none;
  }
}

/* Landing */

.landing {
  & .container {
    display: flex;
    flex-direction: row;
    gap: 4rem;
    padding-block: 3rem;
  }

  & header nav {
    display: flex;
    gap: 1rem;
  }

  @media only screen and (max-width: 600px) {
    & .container {
      flex-direction: column;
    }
  }
}

/* Apps */

.app {
  background: #f9f9f9;

  & .container {
    display: flex;
    flex-direction: row;
    gap: 4rem;
    padding-block: 3rem;
  }

  & header ul {
    list-style-type: none;
    margin-top: 3rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
  & header > a {
    margin-top: 1rem;
  }

  @media only screen and (max-width: 600px) {
    text-align: center;

    & .container {
      flex-direction: column;
    }
  }
}

/* Categories */

.categories {
  & .container {
    padding-block: 1.5rem;
  }

  & ul {
    margin-top: 2rem;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1.25rem;
    font-size: 0.6rem;

    & li {
      display: flex;
      flex-direction: column;
      gap: 0.35rem 0;
      text-align: center;
      max-width: min-content;
    }
    & img {
      width: 1.75rem;
    }
  }
}
