* {
  --primary-color: #51ab59;
  --text-color: #404040;
  --border-color: 64, 64, 64;
  --thumbnail-color: #b4c7b4;
}

body {
  margin: 0;
  color: var(--text-color);
  padding: 0;
  @media only screen and (min-width: 1024px) {
    font-size: 1.125rem;
  }

  & a {
    color: var(--text-color);
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

ul {
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

h1,
h2 {
  font-weight: bold;
  @media only screen and (min-width: 1024px) {
    font-size: 2.25rem;
  }
}

section:not(:first-child) > .container {
  margin-top: 6rem;
}

/* Utilities */

.primary-color {
  color: var(--primary-color);
}

.container {
  max-width: 1280px;
  margin-inline: auto;
  padding-inline: 1rem;
}

.cta {
  border-radius: 1rem;
  padding: 1rem 2.5rem;
  display: inline-block;
  font-weight: 500;
  @media only screen and (min-width: 1024px) {
    font-size: 1.25rem;
  }

  &.primary {
    background: var(--primary-color);
    color: white;
  }
  &.secondary {
    border: 2px solid rgba(var(--border-color), 0.25);
  }
  &.featured {
    box-shadow: 2px 1px 25px rgba(var(--border-color), 0.25);
  }
}

/* Navigation */

.navbar {
  position: relative;
  top: 0;
  position: sticky;
  background-color: white;
  box-shadow: 0px 6px 8px -2px rgba(var(--border-color), 0.25);
  padding-block: 0.5rem;
  z-index: 10;

  & .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 4rem;

    & > a {
      grid-column: 2 / 3;
      margin-inline: auto;
    }

    & nav {
      grid-column: 1 / 2;
      grid-row: 1 / 2;

      & button {
        width: 2rem;
        height: 2rem;
        border: none;
        background: transparent;

        &[aria-expanded="false"] {
          & .close-icon {
            display: none;
          }
          & + ul {
            display: none;
          }
        }
        &[aria-expanded="true"] {
          & .burger-icon {
            display: none;
          }
          & + ul {
            display: block;
          }
        }
      }

      & ul {
        list-style-type: none;
        background: white;
        padding: 2rem;
        position: absolute;
        top: 1.5rem;
        inset-inline: 0;
        box-shadow: 0px 6px 8px -2px rgba(var(--border-color), 0.25);

        & li:not(:first-child) {
          margin-top: 1rem;
        }
      }
    }

    @media only screen and (min-width: 1024px) {
      display: flex;
      & > a {
        margin: 0;
      }

      & nav {
        gap: 2rem;

        & button {
          display: none;

          &[aria-expanded="false"] + ul {
            display: flex;
          }
        }

        & ul {
          display: flex;
          align-items: center;
          gap: 2rem;
          padding: 0;
          position: static;
          box-shadow: none;

          & li {
            margin: 0 !important;
          }
        }
      }
    }
  }
}

/* Landing */

.landing .container {
  display: flex;
  flex-direction: column-reverse;

  & nav {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 2rem;
  }

  & a {
    text-align: center;
  }

  img {
    margin-top: 1rem;
    width: 70%;
    margin-inline: auto;
  }

  @media only screen and (min-width: 768px) {
    flex-direction: row;
    align-items: center;
    gap: 2rem;
    padding-block: 6rem;

    & header {
      flex: 1 1 50%;
    }

    .image {
      flex: 1 1 50%;
      img {
        width: 100%;
      }
    }
  }

  @media only screen and (min-width: 1024px) {
    & nav {
      flex-direction: row;
    }
  }
}

/* Apps */

.app {
  background: #f9f9f9;
  text-align: center;

  & .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-block: 3rem;

    & header {
      & ul {
        list-style-type: none;
        margin-top: 3rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 3rem;

        & li a {
          text-align: center;
          display: block;
          white-space: nowrap;
          background: white;
        }
      }

      & > a {
        display: block;
        max-width: max-content;
        margin-top: 3rem;
        margin-inline: auto;
        font-weight: 500;
      }
    }

    @media only screen and (min-width: 1024px) {
      flex-direction: row;
      gap: 4rem;

      & header {
        flex: 1 1 100%;
      }
    }
  }
}

/* Categories */

.categories .container {
  padding-block: 1.5rem;
  margin-top: 2rem !important;

  & ul {
    margin-top: 3rem;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1.25rem;

    & li {
      display: flex;
      flex-direction: column;
      gap: 0.35rem 0;
      text-align: center;
    }

    & img {
      width: 4.5rem;
      margin-inline: auto;
    }
  }
}

/* About */

.about .container {
  flex-direction: column-reverse;

  @media only screen and (min-width: 768px) {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;

    & header {
      flex: 1 1 50%;
    }
    & .image {
      flex: 1 1 50%;
    }
  }
}

/* Delivery */

.delivery {
  & .container {
    padding-block: 2rem;
    display: flex;
    align-items: center;
    gap: 6rem;
  }

  & header {
    flex: 1 1 100%;
  }

  & a {
    margin-top: 2rem;
    display: block;
    max-width: max-content;
    margin-inline: auto;
  }

  @media only screen and (max-width: 768px) {
    & .container {
      flex-direction: column;
    }
  }
}

/* Footer */

footer {
  & .container {
    border-top: 1px solid rgba(var(--text-color), 0.75);
    padding-block: 2rem;
    display: flex;
    justify-content: space-between;

    & nav ul {
      display: flex;
      justify-content: space-between;
      gap: 1.5rem;
    }

    & ul {
      display: flex;

      gap: 1rem;
      justify-content: center;
      list-style-type: none;
      margin-top: 2rem;

      & img {
        width: 1.25rem;
      }
    }

    @media only screen and (max-width: 768px) {
      & nav ul {
        justify-content: space-between;
        flex-wrap: wrap;
      }
    }
  }
}
